*{
    margin: none;
    padding: none;
}

.Banner{
    background-image: url(../images/Ban.jpg);
    background-size: cover;
    background-position: center;
    width: 101.3%;
    height: 14cm;
    margin: -10px ;
    box-shadow: 0px 5px 5px 0px black;
}

.tituloBan{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    height: 50px;
}

.flex{
    display: grid;
    margin-top: 10px;
    width: 100%;
    height: 30cm;
    grid-template-areas: "video foto1 foto2"
                         "video foto3 foto4"
                         "video foto5 foto6";
}

.video{
    grid-area: video;
    margin: 15px;
}

.foto1{
    background-image: url(../images/foto1.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px black;
    margin: 15px;
    grid-area: foto1;
    width: 60vh;
    color: transparent;
    text-align:center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.foto1:hover{
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(8, 8, 8);
    text-shadow: 0px 5px 6px rgb(53, 36, 36);
}

.foto2{
    background-image: url(../images/foto2.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px black;
    grid-area: foto2;
    width: 60vh;
    margin: 15px;
    color: transparent;
    text-align:center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.foto2:hover{
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(8, 8, 8);
    text-shadow: 0px 5px 6px rgb(53, 36, 36);
}

.foto3{
    background-image: url(../images/foto3.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px black;
    grid-area: foto3;
    width: 60vh;
    margin: 15px;
    color: transparent;
    text-align:center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.foto3:hover{
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 0px 5px 6px rgb(0, 0, 0);
}

.foto4{
    background-image: url(../images/foto4.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px black;
    grid-area: foto4;
    width: 60vh;
    margin: 15px;
    color: transparent;
    text-align:center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.foto4:hover{
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 0px 5px 6px rgb(0, 0, 0);
}

.foto5{
    background-image: url(../images/foto5.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px black;
    grid-area: foto5;
    width: 60vh;
    margin: 15px;
    color: transparent;
    text-align:center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.foto5:hover{
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(8, 8, 8);
    text-shadow: 0px 5px 6px rgb(53, 36, 36);
}

.foto6{
    background-image: url(../images/foto6.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px 0px black;
    grid-area: foto6;
    width: 60vh;
    margin: 15px;
    color: transparent;
    text-align:center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.foto6:hover{
    transition: all 0.2s;
    cursor: pointer;
    color: rgb(8, 8, 8);
    text-shadow: 0px 5px 6px rgb(53, 36, 36);
}

.footer{
    width: 101.3%;
    height: 10cm;
    background-color: black;
    margin: -10px ;
}